<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link" href="{{ relative_path }}index.html">About me</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{{ relative_path }}clips-articles.html">Reporting</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{{ relative_path }}clips-data.html">Digital</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{{ relative_path }}https://fizasdiary.substack.com">Substack</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="...">Resume</a>
  </li>
</ul>