<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link" href="index.html">About me</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="clips-articles.html">Reporting</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="clips-data.html">Digital</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="https://www.linkedin.com/in/fizakuzhiyil/">LinkedIn</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="...">Resume</a>
  </li>
</ul>