{% extends '_templates/base.njk' %}

{% block page_title %}Articles{% endblock %}

{% block page_description %}All my clips in one place.{% endblock %}

{% block content %}
<article class="container">
  <h1>Reporting</h1>
      {% for post in articles.articles %}
      <h3><a href="articles/{{ post.slug }}.html">{{ post.headline }} </a></h3>
      <h4>{{ post.date }}</h4>
      {% endfor %}
</article>
{% endblock %}