{% extends '_templates/base.njk' %}

{% block page_title %}Data{% endblock %}

{% block page_description %}A list of clips.{% endblock %}

{% block content %}
<article class="container">
  <h1>Digital</h1>
  <p>Newsletters, social media and digital projects!</p>
  <div class="row row-cols-1 row-cols-md-2  row-cols-lg-3 g-4">
    {% for clip in clips_data.ships %}
    <div class="col">
      <div class="card h-100">
        <img class="card-img-top" src= "../img/{{ clip.image }}" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{{ clip.name }}</h5>
          <p class="card-text">{{ clip.blurb }}</p>
        </div>
         <div class="card-footer">
              <a href="{{ ship.source }}" class="card-link">Read the story</a>
          </div>
      </div>
    </div>
    {% endfor %}
  </div>
</article>
{% endblock %}