{% extends '_templates/base.njk' %}

{% block page_title %}About Me{% endblock %}

{% block content %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-2 col-lg-2">
      <img class="headshot float-md-end" src="../img/headshot1.jpg" alt="headshot" class="img-fluid">
    </div>
    <div class="col-md-8 col-lg-8">
      <h1>Hey y'all! I'm Fiza Kuzhiyil</h1>
      <p>From reporting on how uninsured students navigate college without healthcare and how Asian hate crimes affect Austin's Asian community, I've learned the importance of listening to our community when discussing reform.
      <p>Now, I further explore the intersection of policy and public opinion at the University of Texas at Austin as a journalism and government student.</p>
      <p>If you'd ever like to chat about news or whether or not you should use the Oxford Comma (I say no!), feel free to reach out to me for anything. I'd love to chat!</p>
    </div>
  </div>
</div>

<div class="container">
  <div class="row justify-content-center">
  <div class="col-md-2 col-lg-4">
    <a href="clips-articles.html" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Reporting</a>
    <a href="clips-data.html" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">Digital clips</a>
    <a href="#" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Resume</a>
  </div>
  </div>
</div>

{% endblock %}

