#jumbo {
  background: url(../img/navy_banner.avif) no-repeat center;
  background-size: cover;
  color: rgb(229, 205, 185);
  padding-top: 12rem
}

#jumbo {
  margin-bottom: 30px;
}

#fonttest1 {
  font-family: 'Times New Roman', Times, serif
}

h1, h2 {
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}